# Ignore Individual Git Settings
/.git/

# Ignore Individual PyCharm Settings
/.idea/

/src/snu_module/DATA/
/src/snu_module/results/

# Ignore devel files
/devel/
/build/

# Ignore python-pcl
/src/snu_module/python-pcl/

# Detection Lib (RefineDet)
/src/snu_module/scripts4/build/
/src/snu_module/scripts4/detection_lib/_C.so
/src/snu_module/scripts4/detection.egg-info/

# Current Agent YAML file
/src/snu_module/scripts4/config(deprecated)/curr_agent/config.yaml

# Ignore YOLOv4 Weights
/src/snu_module/models/detector/YOLOv4/day/*.weights

# Ignore Auto-Save Results
/src/snu_module/sample_results/
/src/snu_module/sample_results/*
!/src/snu_module/sample_results/*.py
!/src/snu_module/sample_results/*.sh

/src/snu_module/bag2imseq/test/*
