# Ignore Individual Git Settings
/.git/

# Ignore Individual PyCharm Settings
/.idea/

/src/snu_module/DATA/
/src/snu_module/results/

# Ignore devel files
/devel/
/build/

# Detection Lib (RefineDet)
/src/snu_module/scripts4/build/
/src/snu_module/scripts4/detection_lib/_C.so
/src/snu_module/scripts4/detection.egg-info/
